/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

body {
    background-image: url('./assets/pokemon-pokeball.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    font-family: Arial, sans-serif;
}

#game-container {
    background: rgb(32, 30, 139);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

@media (max-width: 480px) {
    body {
        background-size: cover;
        background-position: top;
    }

    #game-container {
        width: 220px;
        padding: 10px;
    }

    #feedback-image{
        width: 50px;
        height: 50px;
    }
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    background-color: #e9ec31;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 10px 0;
}

button:hover {
    background-color: #bcbe2c;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
    margin-bottom: 10px;
}

#feedback {
    font-weight: bold;
    margin-top: 10px;
    background-color: white;
    border-radius: 10px;
}

#incomplete-word{
    background-color: white;
    padding: 15px;
    border-style: dotted;
    border-radius: 10px;
    border-color: #e9ec31;
    height: 30px;
    font-size: 20px;
}

#play-word{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}